* {
    font-family: 思源黑体;

    margin: 0;
    padding: 0;
}

.title {
    color: white;
    font-size: 50px;
    text-align: center;

    margin-bottom: 10px;
    padding-bottom: 25px;
    padding-top: 40px;

    display: none;
}

.none {
    margin-left: 50px;
    font-size: 15px;

    color: red;
}

.menu {
    background-color: rgb(45, 45, 50);

    padding: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.stable-build {
    color: rgb(145, 175, 220);
}

.alert-link:hover {
    text-decoration: none;
}

.donwloads-center {
    text-align: center;
}

.introduce {
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 25px;

    text-align: center;
}

.introduce-title {
    display: block;
    margin-left: 50px;
    margin-top: 25px;

    font-size: 35px;
}

.link {
    display: block;
    margin-left: 50px;
    padding-top: 25px;

    font-size: 35px;
    text-decoration: none;
    color: rgb(51, 51, 51);
}

.introduce-background {
    background-color: rgb(245, 245, 245);
}

.introduce-text {
    display: inline-block;

    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.function {
    margin-bottom: 15px;
}


.download-sub-title {
    color: rgb(170, 175, 205);
    font-size: 15px;
}

.other-downloads {
    text-align: center;
}

.other-link {
    transition: 0.3s;
}

.other-link:hover {
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

.link:visited {
    color: rgb(51, 51, 51);
}

.downloads:hover {
    box-shadow: 0 5px 20px black;
    opacity: 1;
}

.other-link:visited{
    text-decoration: none;
}