* {
    font-family: 思源黑体;
    
    padding: 0;
    margin: 0;
}

.menu {
    background-color: rgb(45, 45, 50);

    padding: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.title {
    color: white;
    
    font-size: 50px;
    text-align: center;

    margin-bottom: 10px;
    padding-bottom: 25px;
    padding-top: 40px;

    display: none;
}

.introduce-background {
    background-color: rgb(245, 245, 245);
    padding-top: 30px;
    padding-bottom: 30px;
}

.links {
    display: block;

    margin-left: 30px;
    margin-top: 20px;
}

.link {
    transition: 0.3s;
    font-size: 20px;
}

.file-link {
    display: block;
    font-size: 20px;

    margin-left: 13px;

    transition: 0.3s;
}

.code {
    display: block;
    margin: 30px;
}

.code-title {
    color: #4cd137;
}

.subtitle {
    display: block;
    margin-left: 10px;
}

.alarm {
    margin-top: 30px;
    margin-bottom: 30px;
}

span {
    font-size: 15px;
    color: black;
}

.link:hover, .file-link:hover {
    text-decoration: none;
}