* {
    font-family: sans-serif;
    margin: 0;
    letter-spacing: 1px;
}

.tle {
    font-weight: 1000;
    font-size: 35px;
    padding: 20px 0 5px 0;
}

p {
    font-size: 15px;
}

.link {
    display: inline;
    margin: 10px 0 0 27px;
    padding-bottom: 20px;
    font-size: 30px;
    transition: all 0.3s linear;
}

.introduce-background {
    background-color: rgb(245, 245, 245);
}

.title {
    color: white;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 25px;
    padding-top: 40px;
    display: none;
}

.document hr {
    height: 3px;
    background-color: #000;
    margin: 30px 0 30px 0;
}

.code-title {
    margin-bottom: 30px;
}

.code {
    margin-left: 2px;
    font-size: 17px;
}

.menu {
    background: linear-gradient(to right, #f5af19, #f12711);
    padding: 40px 0 40px 0;
}

.document {
    padding: 0 30px 10px 30px;
}

.link:hover {
    text-decoration: none;
}

.labl {
    transition: all 0.3s linear;
}