* {
    font-family: sans-serif;
    letter-spacing: 1px;
    margin: 0;
}

.menu {
    background: rgb(95, 91, 96);

    padding: 40px 0 40px 0;
}

.title {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin: 0 50px 10px 50px;
    padding: 40px 0 25px 0;
    display: none;
}

.doc {
    margin: 50px;
}

.txt {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.labl {
    transition: all 0.3s linear;
}

span {
    display: inline-block;
    animation: .4s pop ease-in-out;
    animation-delay: var(--delay);
}

@keyframes pop {

    0%,
    100% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.2)
    }
}